body {
  background-color: rgb(139, 198, 227);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  text-align: center;
  color: black;
}

header {
  padding: 20px;
  background-color: rgb(0, 34, 77);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #fff;
}

.form-row {
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-row label {
  display: inline-block;
  width: 200px;
  text-align: right;
  margin-right: 10px;
}

.form-row input,
.form-row select {
  display: inline-block;
  width: 200px;
}

.form-row label.required::before {
  content: "*";
  color: rgb(217, 0, 0);
}

.button {
  background-color: rgb(0, 86, 21);
  border: rgb(255, 255, 255);
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}


div.topleft4 {
  position: absolute;
  color: rgb(0, 34, 77);
  top: 35px;
  left: 230px;
  font-size: 45px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.topleft5 {
  position: absolute;
  top: 100px;
  left: 510px;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

a:hover {
  color: blue;
  text-decoration: none;
}

a:active {
  color: pink;
  text-decoration: none;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.news-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: 350px;
  height: 350px;
  text-decoration: none;
  color: #000;
  font-family: sans-serif;
  transition: transform 0.2s ease-in-out;
}

.news-card-details {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  text-decoration: none;
  color: #000;
  font-family: sans-serif;
}

.news-card:hover {
  transform: scale(1.05);
}

.news-card__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.news-card__title {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  padding: 5px;
}

.news-card__date {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  color: gray;

}

.news-card__description {
  padding: 5px;
  font-size: 1rem;
  text-align: center;
}

.my-h4 {
  padding: 5px;
  text-align: center;
}